.azure-pipelines/**
.github/**
.gitattributes
.gitignore
.vscode-test/**
.vscode/**
*.tgz
**/*.gif
**/*.map
**/*.ts
build/**
dist/test/**
docs/**
gulp*
node_modules/**
out/**
resources/readme/**
src/**
stats.json
test-results.xml
test/**
testOutput/**
tsconfig.json
typings/**
webpack.config*
.eslintignore
.eslintrc.js
yaml/cgmanifest.json # Added because https://github.com/microsoft/vscode/blob/3b03189afae77e2a69f2c0d266738c9720965e15/extensions/yaml/.vscodeignore has it
